.modal {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 200;
    max-width: 400px;
    
    margin: 0 auto;
    background-color: $UI-Primary;
    border-radius: 5px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 48px 20px;
      
    }

    &__input {
        font-size: 1.5rem;
        width: 100%;
        display: block;
        padding: 10px 12px;
        background-color: $UI-Primary;
        border: 3px solid #F0F0F0;
        border-radius: 5px;

        &--textarea {
            height: 100px;
        }

        &--error {
            border: 3px solid red;
        }

        &:focus {
            border: 3px solid #55A8F7;
        }
    }

    &__checkboxes {
        display: flex;
        gap: 15px;
        margin: 0;
    }
    &__submit {
        padding: 10px 20px;
        font-size: 1.5rem;
        background-color: #55A8F7;
        color: white;
        border-radius: 5px;
    }
    &__desc-counter {
        display: flex;
        align-items: center;
    }
    &__counter {
        margin: 0 0 0 auto;
        span {
            font-size: 1rem;
            padding-right: 6px;
            &:last-child {
                padding: 0; 
            }
        }
        
    }
    label {
        display: block;
        font-size: 1.5rem;
        margin: 0 0 3px 0;
    }
}

.modal__checkboxes-- error{
    border-radius: 5px;
    padding: 6px;
    border: 3px solid red;
}

.checkbox-proprity {
    display: none;
    &:checked + .priority-label {
        opacity: 100%;
    }
}

.priority-label {
    font-size: 1.5rem;
    padding: 12.5px 14px;
    width: fit-content;
    height: fit-content;
    opacity: 30%;
}
