.task {

    &__form {
        display: flex;
        justify-content: space-between;
        gap: 21px;
    }

    &__input {
        border-radius: $borderRadius;
        font-size: 2rem;
        background-color: $inputColor;
        width: 100%;
        padding: 10px 10px;

        &:focus {
            background-color: $taskColorHover;
        }

    }

    &__submit {
        width: 20%;
        border-radius: $borderRadius;
        background-color: $btnSubmit;
        
        text-transform: uppercase;
        font-weight: 500;
        
        cursor: pointer;
    }

    &__list {
        display: grid;
        margin-top: 24px;
        gap: 24px;

    }

    &__item {
        display: flex;  
        justify-content: space-between;
        align-items: center;
        width: 100%;
      

        border-radius: $borderRadius;
        background-color: $inputColor;
        font-size: 2.4rem;
        cursor: pointer;

        p {
            padding: 0 0 0 24px;
        }

    }

    &__done {
        background-color: $taskDoneColor;
        text-decoration: line-through;
    }

    &__control {
        display: block;
        
       
    }

    &__btn {
        width: 50px;
        height: 50px;
    }

    &__btn-edit {
        background-color: $btnEdit;
    }
    &__btn-remove {
        background-color: $btnRemove;
        border-radius: 0 5px 5px 0;
    }
}

.task-archive {
    border-radius: $borderRadius;
    background-color: $inputColor;
    margin: 48px 0 0 0;
    padding: 10px;;
    
    &__title {
        font-size: 2rem;
        
    }

    &__container {
        display: grid;
        gap: 20px;
        padding: 20px 0 0 0;
    }
    .task__item {

       

        button {

            display: none;
        }
    }
}