// Colors
    //mains
    $bgColor: #121A25;

    //components 
    $inputColor : #1F293A;
    $taskColorHover: #56B578;
    $taskDoneColor : #56B578;

    $btnSubmit : #3A8FED;	
    $btnEdit: #DB9A37;
    $btnRemove: #C73F24;
   
    //fonts
    $fontPrimary : #ffff;


//Forms

    //border
    $borderRadius: 5px;


// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
