// Colors
    // Main UI Colors
    $UI-Primary : #FFFFFF;
    $UI-Secondary : #0F2027;

    // Font
    $FontPrimary : #000000;
    $FontSecondary : #4B4B4B;

    //Priority Colors
    $PriorityA : #E67F67;
    $PriorityB : #6CDA97;
    $PriorityC : #F3C872;
    $PriorityD : #F0F0F0;

// 

// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
