// Colors
    //mains
    $bgColor: #fafafa;

    //components 
    $inputColor : #ffffff;
    $taskColorHover: #88ffff;
    $taskDoneColor : rgb(151, 233, 151);
    $btnColor : #88ffff;	

    //fonts
    $fontPrimary : #000000;


//Forms

    //border
    $borderRadius: 5px;


// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
